<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CSU Dashboard</title>
<link rel="stylesheet" type="text/css" href="/assets/root.css" />
</head>
<body>
<dl>
<dt><a href="/dashboard/bublin">CSU Comparisons</a></dt>
<dd>Description: This is an example page from Dashboard Project 1</dd>
<dt><a href="/dashboard/peercomp">Peer Benchmarking</a></dt>
<dd>Description: This is an example page from Dashboard Project 2</dd>
</dl>
<script type="text/javascript" src="/assets/root.js"></script>
</body>
</html>