<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CSU Dashboard</title>
<link rel="stylesheet" type="text/css" href="/static/page/root/root.css" />
</head>
<body>
<dl>
<dt><a href="/dashboard/csu-comparisons">CSU Comparisons</a></dt>
<dd>Description: Example page from Dashboard Version 2 Project - CSU Campus Peers</dd>
<dt><a href="/dashboard/csu-peer-benchmarking">CSU Peer Benchmarking</a></dt>
<dd>Description: Example page from Dashboard Version 2 Project - National Peers</dd>
<dt><a href="/dashboard/what-paths-do-they-follow">What Paths Do They Follow?</a></dt>
<dd>Description: Example page from Dashboard Version 2 Project - Course Migration</dd>
</dl>
<script type="text/javascript" src="/static/page/root/root.js"></script>
</body>
</html>