<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CSU Dashboard</title>
<link rel="stylesheet" type="text/css" href="/static/page/root/root.css" />
</head>
<body>
<div id="maincontent">
<h1>Sample Dashboards</h1>
<dl>
<div>
<dt><a href="/dashboard/csu-comparisons">CSU Comparisons</a></dt>
<dd><p>Description: Example page from Dashboard Version 2 Project - CSU Campus Peers</p>
<a href="/dashboard/csu-comparisons"><img src="/static/page/root/thb2_bublin-min.png" /></a></dd>
</div><div>
<dt><a href="/dashboard/csu-peer-benchmarking">CSU Peer Benchmarking</a></dt>
<dd><p>Description: Example page from Dashboard Version 2 Project - National Peers</p>
<a href="/dashboard/csu-peer-benchmarking"><img src="/static/page/root/thb2_peers-min.png" /></a></dd>
</div><div>
<dt><a href="/dashboard/what-paths-do-they-follow">What Paths Do They Follow?</a></dt>
<dd><p>Description: Example page from Dashboard Version 2 Project - Course Migration</p>
<a href="/dashboard/what-paths-do-they-follow"><img src="/static/page/root/thb2_sankey-min.png" /></a></dd>
</div><div>
<dt><a href="/dashboard/additional-term-gradrates">Additional Term Graduation Rates</a></dt>
<dd><p>Description: Example page from Dashboard Version 2 Project - Additional Term Graduation Rates</p>
<a href="/dashboard/additional-term-gradrates"><img src="/static/page/root/thb2_halfyr-min.png" /></a></dd>
</div><div>
<dt><a href="/dashboard/bottleneck-courses">In Which Courses Do They Struggle?</a></dt>
<dd><p>Description: Example page from Dashboard Version 2 Project - Bottleneck Courses</p>
<a href="/dashboard/bottleneck-courses"><img src="/static/page/root/thb2_botnek-min.png" /></a></dd>
</div><div>
<dt><a href="/dashboard/faculty-matter">Faculty Matter</a></dt>
<dd><p>Description: Example page from Dashboard Version 2 Project - Faculty Matter</p>
<a href="/dashboard/faculty-matter"><img src="/static/page/root/thb2_faclan-min.png" /></a></dd>
</div>
</dl>
<!-- <script type="text/javascript" src="/static/page/root/root.js"></script> -->
</div>
</body>
</html>