{% extends "base1.html" %}

{% block header %}
{% endblock %}

{% block sitenav %}
<div class="title-bar"><a href="/"><img src="/static/global/img/home-btn-faculty.png" alt="Home Button" /></a><h1>{{ page.title }}</h1></div>
{% endblock %}

{% block subnav %}
<div id="dotnav">
{% if page.dotnavprev %}
<a class="navprev" href="{{ page.dotnavprev.href }}">&lt; {{ page.dotnavprev.text }}</a>
{% endif %}
{% if page.dotnav|length > 0 %}
<ul>
{% for navdot in page.dotnav %}
<li><a{{ navdot.classname ? ' class="' }}{{ navdot.classname ?  navdot.classname}}{{ navdot.classname ?  '"'}} href="{{ navdot.href }}" title="{{ navdot.title}}">{{ navdot.text }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if page.dotnavnext %}
<a class="navnext" href="{{ page.dotnavnext.href }}">{{ page.dotnavnext.text }} &gt;</a>
{% endif %}
</div>
{% endblock %}

{% block contentsubheader %}
<h1 id="contentsubheader" class="content-subheader">CSU Major Migration for all First-time Full-time Freshmen who Graduated in 2013, 2014, or 2015</h1>
{% endblock %}

{% block control %}
{% if page.controls|length > 0 %}
<form class="page-controls"><fieldset class="controls"><legend class="offscreen">For accessibility devices</legend>
{% for control in page.controls %}
{% if control.type == 'select' %}
	<select id="{{ control.id }}">
{% for detail in control.details %}
		<option value="{{ detail.option_value }}"{{detail.isselected ? ' selected'}}>{{ detail.option_text }}</option>
{% endfor %}
	</select>
{% endif %}
{% if control.type == 'button' %}
	<button id="{{ control.id }}">{{ control.text }}</button>
{% endif %}
{% endfor %}
</fieldset></form>
{% endif %}
{% endblock %}

{% block footer %}
<footer>
	<div class="centeredline">
	<div class="back">
		<a href="" title="return to dashboard">Dashboard Home</a> | <a href="faculty-dashboard" title="faculty home"><b>Faculty Home</b></a>
	</div>
	<div class="feedback">
		<a href="" title="Give us Feedback">Give Us Feedback</a>
	</div>
	</div>
</footer>
{% endblock %}

{% block pagescripts %}
<script src="/static/global/js/all_gcore.js"></script>
{% if page.scripts|length > 0 %}
{% for scriptsrc in page.scripts %}
<script src="{{ scriptsrc }}"></script>
{% endfor %}
{% endif %}
{% endblock %}

